<footer class="laszlo--footer laszlo--section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="footer-site-logo">
          <a href="#">
            Keenan
            <span>
              .
            </span>
            Chiasson
          </a>
        </div>
        <ul class="footer-site-social">
          <li>
            <a target="_blank" href="https://github.com/laszlo-ratesic">
              Github
            </a>
          </li>
          {{!-- <li>
            <a href="https://twitter.com/laszlo_ratesic">
              Twitter
            </a>
          </li> --}}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/keenan-chiasson/">
              LinkedIn
            </a>
          </li>
          <li>
            <a target="_blank" href="https://medium.com/@keenanrc">
              Medium
            </a>
          </li>
        </ul>
        <p class="site-copyright">
          Copyright © <span id="date"></span>
          <script>
            document.getElementById('date').innerHTML = new Date().getFullYear();
          </script>
          All rights reserved | Made with
          <i class="icon-heart" aria-hidden="true"></i>
          by
          <a href="https://github.com/laszlo-ratesic" target="_blank">
            Keenan Chiasson
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>