<div class="laszlo--section">
  <div class="container">
    <div class="owl-carousel logo-slider">
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-amazonwebservices-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-nodejs-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-express-original-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-git-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-mysql-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-sequelize-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-heroku-line-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-bootstrap-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-canva-original colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-sass-original colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-css3-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-handlebars-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-javascript-plain colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-npm-original-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-polygon-plain colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-slack-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-html5-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-jest-plain colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-jquery-plain-wordmark colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-markdown-original colored"
        ></i>
      </div>
      <div class="logo-v1 gsap-reveal">
        <i
          style="font-size: 12rem; color: #9a9a9a;"
          class="devicon-vscode-plain colored"
        ></i>
      </div>
    </div>
  </div>
</div>