<nav class="laszlo--site-nav site-nav-target">
  <div class="container">
    <div class="row align-items-center justify-content-between text-left">
      <div class="col-md-5 text-right">
        <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
          <li class="has-children">
            <a href="#home-section" class="nav-link">
              Home
            </a>
          </li>
          <li>
            <a href="#portfolio-section" class="nav-link">
              Portfolio
            </a>
          </li>
          <li>
            <a href="#about-section" class="nav-link">
              About
            </a>
          </li>
          <li>
            <a href="#services-section" class="nav-link">
              Services
            </a>
          </li>
        </ul>
      </div>
      <div class="site-logo pos-absolute">
        <a href="/" class="laszlo--site-logo">
          K
          <span>
            R
          </span>
          C
        </a>
      </div>
      <div class="col-md-5 text-right text-lg-left">
        <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
          <li>
            <a href="#skills-section" class="nav-link">
              Skills
            </a>
          </li>
          <li>
            <a href="#testimonial-section" class="nav-link">
              Testimonial
            </a>
          </li>
          <li>
            <a href="#journal-section" class="nav-link">
              Journal
            </a>
          </li>
          <li>
            <a href="#contact-section" class="nav-link">
              Contact
            </a>
          </li>
        </ul>
        <ul
          class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none"
        >
          <li>
            <a href="#" class="js-menu-toggle">
              Menu
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>