<div class="laszlo--section" id="portfolio-section">
  <div class="container">
    <div class="relative">
      <div class="loader-portfolio-wrap">
        <div class="loader-portfolio"></div>
      </div>
    </div>
    <div id="portfolio-single-holder"></div>
    <div class="portfolio-wrapper">
      <div
        class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter"
      >
        <h2 class="mr-auto heading-h2">
          <span class="gsap-reveal">
            Portfolio
          </span>
        </h2>
        <!-- <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>

              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".web">Web</a>
                  <a href="#" data-filter=".branding">Branding</a>
                  <a href="#" data-filter=".illustration">Illustration</a>
                  <a href="#" data-filter=".packaging">Packaging</a>
                </div>
              </div> -->
      </div>
      <div id="posts" class="row gutter-isotope-item">
        {{! REAVER CMS }}
        <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
          <a
            href="/reaver-cms"
            class="portfolio-item ajax-load-page isotope-item gsap-reveal-img"
            data-id="1"
          >
            <div class="overlay">
              <span class="wrap-icon icon-link2"></span>
              <div class="portfolio-item-content">
                <h3>
                  Reaver CMS 🏴‍☠️
                </h3>
                <p>
                  database, command line
                </p>
              </div>
            </div>
            <img
              src="images/reaver-logo.png"
              class="lazyload  img-fluid"
              alt="Images"
            />
          </a>
        </div>
        {{! END REAVER }}
        {{! BLOCKDUST }}
        <div
          class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2"
        >
          <a
            href="/blockdust"
            class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img"
            data-id="3"
          >
            <div class="overlay">
              <span class="wrap-icon icon-link2"></span>
              <div class="portfolio-item-content">
                <h3>
                  Blockdust 🧊
                </h3>
                <p>
                  authentication, blogging
                </p>
              </div>
            </div>
            <img
              src="images/blockdust-icon.png"
              class="lazyload  img-fluid"
              alt="Images"
            />
          </a>
        </div>
        {{! END BLOCKDUST }}
        {{! BLOODGATE }}
        <div
          class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2"
        >
          <a
            href="/bloodgate"
            class="portfolio-item isotope-item gsap-reveal-img ajax-load-page"
            data-id="4"
          >
            <div class="overlay">
              <span class="wrap-icon icon-link2"></span>
              <div class="portfolio-item-content">
                <h3>
                  Bloodgate 🗡️
                </h3>
                <p>
                  fantasy, tcg, interactive
                </p>
              </div>
            </div>
            <img
              src="images/bloodgate-logo.png"
              class="lazyload  img-fluid"
              alt="Images"
            />
          </a>
        </div>
        {{! END BLOODGATE }}
        {{! BACKDRAFT }}
        <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
          <a
            href="https://youtu.be/wSGBwgS6nS8"
            class="portfolio-item isotope-item gsap-reveal-img"
            data-fancybox="gallery"
            data-caption="Backdraft<br/><a target='_blank' href='https://github.com/laszlo-ratesic/backdraft'><code>https://github.com/laszlo-ratesic/backdraft</code></a>"
          >
            <div class="overlay">
              <span class="wrap-icon icon-play_circle_filled"></span>
              <div class="portfolio-item-content">
                <h3>
                  Backdraft 🔥
                </h3>
                <p>
                  bootstrap, markdown, cli, generator
                </p>
              </div>
            </div>
            <img
              src="images/backdraft-logo.png"
              class="lazyload  img-fluid"
              alt="Images"
            />
          </a>
        </div>
        {{! END BACKDRAFT }}
        {{! ASTRO NOTES }}
        <div
          class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2"
        >
          <a
            href="images/astro-notes.mp4"
            class="portfolio-item isotope-item gsap-reveal-img"
            data-fancybox="gallery"
            data-caption='Astro Notes<br/><a target="_blank" href="https://astro-notes-v1.herokuapp.com/"><code>https://astro-notes-v1.herokuapp.com/</code></a>'
          >
            <div class="overlay">
              <span class="wrap-icon icon-photo2"></span>
              <div class="portfolio-item-content">
                <h3>
                  Astro Notes 🐱‍🚀
                </h3>
                <p>
                  note-taking, server-side storage
                </p>
              </div>
            </div>
            <video
              autoplay=""
              loop=""
              muted=""
              src="images/astro-notes-logo.mp4"
              class="lazyload  img-fluid"
              alt="Images"
            ></video>
          </a>
        </div>
        {{! END ASTRO NOTES }}
        {{! POSTCARDS THROUGH HELL }}
        <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
          <a
            href="/postcards-through-hell"
            class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img"
            data-id="2"
          >
            <div class="overlay">
              <span class="wrap-icon icon-link2"></span>
              <div class="portfolio-item-content">
                <h3>
                  Postcards Through Hell 💀
                </h3>
                <p>
                  author website, custom, client
                </p>
              </div>
            </div>
              <img
                src="images/postcards-logo.webp"
                type="image/webp"
                class="lazyload img-fluid"
                alt="Images"
              />
          </a>
        </div>
        {{! END POSTCARDS THROUGH HELL }}
        {{! WORKPUNK }}
        <div
          class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2"
        >
          <a
            href="images/workpunk.gif"
            class="portfolio-item item-portrait isotope-item gsap-reveal-img"
            data-fancybox="gallery"
            data-caption="WorkPunk<br/><a target='_blank' href='https://laszlo-ratesic.github.io/work-punk/'><code>https://laszlo-ratesic.github.io/work-punk/</code></a>"
          >
            <div class="overlay">
              <span class="wrap-icon icon-photo2"></span>
              <div class="portfolio-item-content">
                <h3>
                  WorkPunk ☢️
                </h3>
                <p>
                  scheduler, localstorage
                </p>
              </div>
            </div>
            <video
              src="images/workpunk-logo.mp4"
              class="lazyload  img-fluid"
              alt="Images"
              muted=""
              loop=""
              playsinline=""
              autoplay=""
            ></video>
          </a>
        </div>
        {{! END WORKPUNK }}
        {{! 47TH STREET }}
        <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
          <a
            href="https://www.youtube.com/watch?v=8o2W45Vv-mc"
            class="portfolio-item isotope-item gsap-reveal-img"
            data-fancybox="gallery"
            data-caption="47th Street<br/><a target='_blank' href='https://github.com/laszlo-ratesic/47th-street'><code>https://github.com/laszlo-ratesic/47th-street</code></a>"
          >
            <div class="overlay">
              <span class="wrap-icon icon-play_circle_filled"></span>
              <div class="portfolio-item-content">
                <h3>
                  47th Street 💎
                </h3>
                <p>
                  ecommerce, backend
                </p>
              </div>
            </div>
            <img
              src="images/47th-street-logo.png"
              class="lazyload  img-fluid"
              alt="Images"
            />
          </a>
        </div>
        {{! END 47TH STREET }}
        {{! README GENERATOR }}
        <div
          class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2"
        >
          <a
            href="https://youtu.be/GDfew8sFQwE"
            class="portfolio-item isotope-item gsap-reveal-img"
            data-fancybox="gallery"
            data-caption="The README Pack-a-Punch 2000<br/><a target='_blank' href='https://github.com/laszlo-ratesic/the-readme-pack-a-punch-2000'><code>https://github.com/laszlo-ratesic/the-readme-pack-a-punch-2000</code></a>"
          >
            <div class="overlay">
              <span class="wrap-icon icon-play_circle_filled"></span>
              <div class="portfolio-item-content">
                <h3>
                  The README Pack-a-Punch 2000 🦾
                </h3>
                <p>
                  readme, markdown, cli, inquirer
                </p>
              </div>
            </div>
            <video
              autoplay=""
              muted=""
              loop=""
              playsinline=""
              src="images/readme-logo.mp4"
              class="lazyload  img-fluid"
              alt="Images"
            ></video>
          </a>
        </div>
        {{! END README GENERATOR }}
      </div>
    </div>
  </div>
</div>