<div class="laszlo--section" id="services-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider">
        <span class="gsap-reveal">
          Services
        </span>
      </h2>
      <span class="gsap-reveal">
        <img src="images/divider.png" alt="divider" width="76" />
      </span>
    </div>
    <div class="row gutter-v3">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
          <div class="wrap-icon mb-3">
            <img src="images/svg/001-options.svg" alt="Image" width="45" />
          </div>
          <h3>
            Contextual
            <br />
            Research
          </h3>
          <p>
            Conduct technical and market research to stay abreast of emerging tech, trends, and competitors.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
          <div class="wrap-icon mb-3">
            <img src="images/svg/002-chat.svg" alt="Icon" width="45" />
          </div>
          <h3>
            Responsive
            <br />
            Feedback
          </h3>
          <p>
            Zero lagtime. Direct communication always delivered in a professional and timely manner.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
          <div class="wrap-icon mb-3">
            <img
              src="images/svg/003-contact-book.svg"
              alt="Image"
              class="img-fluid"
              width="45"
            />
          </div>
          <h3>
            Quality
            <br />
            Assurance
          </h3>
          <p>
            Test-driven development. Write quality documentation as well as unit tests and mocks for client handoff.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
          <div class="wrap-icon mb-3">
            <img src="images/svg/004-percentage.svg" alt="Image" width="45" />
          </div>
          <h3>
            End-to-end
            <br />
            Design
          </h3>
          <p>
            Create products, materials, and systems with the entire business in mind, from source to user.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
          <div class="wrap-icon mb-3">
            <img src="images/svg/006-goal.svg" alt="Image" width="45" />
          </div>
          <h3>
            Full-Stack
            <br />
            Development
          </h3>
          <p>
            Engineer apps across the full stack. Route the resilient backend to the jaw-dropping frontend.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
          <div class="wrap-icon mb-3">
            <img src="images/svg/005-line-chart.svg" alt="Image" width="45" />
          </div>
          <h3>
            Agile
            <br />
            Workflow
          </h3>
          <p>
            Build version-controlled solutions at breakneck speeds. Focus on shipping to production so you don't have to.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>