<div class="laszlo--section section-counter" id="skills-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider">
        <span class="gsap-reveal">
          Skills
        </span>
      </h2>
      <span class="gsap-reveal">
        <img src="images/divider.png" alt="divider" width="76" />
      </span>
    </div>
    <div class="row pt-5">
      <div
        class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="0"
      >
        <div class="counter-v1 text-center">
          <span class="number-wrap">
            <span class="number number-counter" data-number="90">
              0
            </span>
            <span class="append-text">
              %
            </span>
          </span>
          <span class="counter-label">
            JavaScript
          </span>
        </div>
      </div>
      <div
        class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="counter-v1 text-center">
          <span class="number-wrap">
            <span class="number number-counter" data-number="99">
              0
            </span>
            <span class="append-text">
              %
            </span>
          </span>
          <span class="counter-label">
            Bold leaps
          </span>
        </div>
      </div>
      <div
        class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="counter-v1 text-center">
          <span class="number-wrap">
            <span class="number number-counter" data-number="95">
              0
            </span>
            <span class="append-text">
              %
            </span>
          </span>
          <span class="counter-label">
            Coffee-Drinking
          </span>
        </div>
      </div>
      <div
        class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="counter-v1 text-center">
          <span class="number-wrap">
            <span class="number number-counter" data-number="100">
              0
            </span>
            <span class="append-text">
              %
            </span>
          </span>
          <span class="counter-label">
            Full-Stack Open Sourcery
          </span>
        </div>
      </div>
    </div>
  </div>
</div>