<div class="laszlo--section" id="testimonial-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider">
        <span class="gsap-reveal">
          The Hype
        </span>
      </h2>
      <span class="gsap-reveal">
        <img src="images/divider.png" alt="divider" width="76" />
      </span>
    </div>
  </div>
  <div class="owl-carousel testimonial-slider" data-aos="fade-up">
    <div>
      <div class="testimonial-v1">
        <div class="testimonial-inner-bg">
          <span class="quote">
            “
          </span>
          <blockquote>
            Thank you for submitting your Challenge. Thank you for going above and beyond all of the requirements. Everything you did is outstanding. The 200 grade is not a mistake. Have a great day. I hope you change the world with your Dev skills. Shoot for the highest goal you could possibly aim for and I bet you will achieve it. I am absolutely astounded at the quality of your work!
          </blockquote>
        </div>
        <div class="testimonial-author-info">
          <img src="images/person_man_1.jpg" alt="Image" />
          <h3>
            Unknown
          </h3>
          <span class="d-block position">
            Anonymous Coding Grader @UT Austin Coding Boot Camp
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="testimonial-v1">
        <div class="testimonial-inner-bg">
          <span class="quote">
            “
          </span>
          <blockquote>
            Instant 100. Better than any work I could do. Outstanding. This is far better than most students. Are you secretly an instructor submitting Challenges? Just kidding I know you are a student. You inspire me. Have a great day.
          </blockquote>
        </div>
        <div class="testimonial-author-info">
          <img src="images/person_man_2.jpg" alt="Image" />
          <h3>
            Unknown
          </h3>
          <span class="d-block position">
            Anonymous Coding Grader @UT Austin Coding Boot Camp
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="testimonial-v1">
        <div class="testimonial-inner-bg">
          <span class="quote">
            “
          </span>
          <blockquote>
            Great video demo. Gret repo Great code. I do not know what else I can add. As always your work is top quality. It sounds and looks like you enjoy what you are doing. You are very professional.  It sounds to me like you are intelligent and wise. Keep moving forward and reach the goals you have set for yourself!
          </blockquote>
        </div>
        <div class="testimonial-author-info">
          <img src="images/person_woman_1.jpg" alt="Image" />
          <h3>
            CG, AA
          </h3>
          <span class="d-block position">
            Anonymous Coding Grader @UT Austin Coding Boot Camp
          </span>
        </div>
      </div>
    </div>
  </div>
</div>