<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body data-spy="scroll" data-target=".site-nav-target" data-offset="200">
    {{> mobile-menu}}
    <div class="unslate_co--site-wrap">
        {{{ body }}}
        {{> footer}}
    </div>
    {{> loader}}
    {{> scripts}}
</body>
</html>