<div class="laszlo--site-inner">
  {{> lines}}
  {{> nav}}
  {{> hero}}
  {{> portfolio}}
  {{> languages}}
  {{> about}}
  {{> services}}
  {{> skills}}
  {{> testimonials}}
  {{> journal}}
  {{> contact}}
</div>